<html>
<head>
  <title>Random Word</title>
   {% load static %}
      <!-- The line above tells Django to be ready to listen for static files -->
      <link rel="stylesheet" href="{% static 'random_word/css/random_word.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
  <div class="title">Random word (attempt # {{ request.session.tries }})
  </div>
  <!-- we can use the line below to see all of our data in our template -->
<div class="main">{{ request.session.word }}</div>
<a href="/generate"><button>Generate</button></a>
<a href="/reset"><button>Reset</button></a>
<!-- with all the data we can then construct a more structured output -->

</body>
</html>