<html>
<head>
  <title>Semi-Restful</title>
  <h1>Users</h1>
   {% load static %}
      <!-- The line above tells Django to be ready to listen for static files -->
      <link rel="stylesheet" href="{% static 'restful/css/restful.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
  <!-- we can use the line below to see all of our data in our template -->
	<div class="container">
	<div class="main">
		
    <table>
      <thead><th>Full name</th><th>email</th><th>Created at</th><th>Updated at</th><th>Actions</th></thead>
      <tbody>
      {% for item in items %}
        <tr><td><a href="/restful/{{ item.id}}/edit">{{ item.first_name }}  {{ item.last_name }}</a></td>
            <td>{{ item.email }}</td>
            <td>{{ item.created_at }}</td>
            <td>{{ item.updated_at }}</td>
            <td> <a href="/restful/{{ item.id}}/show">Show</a> | <a href="/restful/{{ item.id}}/edit">Edit</a> | <a href="/restful/{{ item.id}}/destroy">Delete</a></tr>
      {% endfor %}
      </tbody>
    </table>
    <a href="/restful/add_user"><button>Add a new user</button></a>
  </div>
	</div>

</body>
</html>