.table {
	width: 300px;
	border: 1px solid black;
	background-color: gray;
}

.wrong {
	background-color: red;
	text-align: center;
	height: 20px;
	width: auto;
	border: 2px solid black;
	display: inline-block;	
}
h1 {
	font-family: sans-serif;
}

tr:nth-child(even) {
	background-color: #bbbec1;
}

thead tr {
	background-color: grey;
}
