<html>
    <head>
       <title>Form Test Index</title>
    </head>
    <body>
      <h1>Index Page</h1>
      <h3>Create a User</h3>
      <!-- Form for entering the data -->
      <form action='/result' method='post'>
         <div>Name: <input type='text' name='name'></div>
          <div>Dojo Location: <input type='text' name='location'></div>
          <div>Favorite Language: <input type='text' name='language'></div>
          <div>Comment: <input type='text' name='comment'></div>
          <input type='submit' value='create user'>
      </form>
    </body>
</html>