<html>
<head>
  <title>Add new book and review</title>
  {% load static %}
  <!-- The line above tells Django to be ready to listen for static files -->
    <link rel="stylesheet" href="{% static 'login_registration/css/skeleton.css' %}" media="screen" title="no title"  charset="utf-8">

</head>
<body>
  <div class="ten columns"><h5>Add a new book and a review:</h5></div>
  <hr>
  <div class="five columns">
  <form action="/review/create" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">Book Title:</label>
                <input type="text" name="title">
            </div>
            <div class="form-group">
                <label for="author">Author:</label>
                <span>Choose from the list:</span>
                <select name="author">
                    {% for author in authors %}
                        <option value="{{author.id}}">{{author.name}}</option>
                    {% endfor %}
                </select><br>
                <span>Or add a new author:</span>
                <input type="text" name="new_author">
            </div>
            <div class="form-group">
                <label for="review">Review:</label>
                <textarea rows="5" cols="40" type="text" name="review"></textarea>
            </div>
            <div class="form-group">
                <label for="rating">Rating</label>
                <select name="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <input type="submit" value="Add Book and Review">
        </form>
</div>
</body>
</html>