<html>
<head>
  <title>Friends</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Edit friends!</h1>
  <!-- we can use the line below to see all of our data in our template -->
<!-- {{ all_friends }} -->
<!-- with all the data we can then construct a more structured output -->
  <hr>
  <form action="/update_friend/{{ friend[0]['id'] }}" method='POST'>
    <p><label for="first_name">First Name:<input type="text" name="first_name" id="first_name" value="{{ friend[0]['first_name'] }}"></label></p>
    <p><label for="last_name">Last Name:<input type="text" name="last_name" id="last_name" value="{{ friend[0]['last_name'] }}"></label></p>
    <p><label for="email">Email:<input type="text" name="email" id="email" value="{{ friend[0]['email'] }}"></label></p>
    <input type="submit" value="Update Friend">
  </form>
</body>
</html>