<html>
<head>
  <title>Register</title>
  {% load static %}
  <!-- The line above tells Django to be ready to listen for static files -->
    <link rel="stylesheet" href="{% static 'login_registration/css/skeleton.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
  <h1>Register!</h1>
  <ul>
    <li><a href="/">Home</a></li> | 
    <li><a href="/register">Register</a></li> |
    <!-- <li><a href="/login">Login</a></li> |  -->
    {% if 'status' in session %}
      <li>{{ request.session.status }} is logged in!</li> | 
      <li><a href="/logout" name="logout" id="logout">Log out</a></li> | 
    {% else %}
      <li><a href="/login" name="Login" id="login">Log in</a></li> | 
    {% endif %}
  </ul>
  <!-- <div class="logout"><a href="/logout" name="logout" id="logout">Log out</a></div> -->
  
    {% if messages %}
      {% for category, message in messages %}
        <i class="alert alert-success {{ category }}">{{message}}</i>
      {% endfor %}
    {% endif %}
   
  <!-- we can use the line below to see all of our data in our template -->
<!-- {{ all_friends }} -->
<!-- with all the data we can then construct a more structured output -->

  <hr>
  <h2>Add a User</h2>
  <form action='/create_user' method='POST'>
    <div class="md-form"><label class="active" for="form6">Username:</label><input type="text" name="username" id="username" class="form-control"></div>
    <div class="md-form"><label class="active" for="form6">First name:</label><input type="text" name="first_name" id="first_name" class="form-control"></div>
    <div class="md-form"><label class="active" for="form6">Last name:</label><input type="text" name="last_name" id="last_name" class="form-control"></div>
    <div class="md-form"><label class="active" for="form6">Email:</label><input type="text" name="email" id="email" class="form-control"></div>
    <div class="md-form"><label class="active" for="form6">Password:</label><input type="password" name="pw_hash" id="pw_hash" class="form-control"></div>
    <input type="submit" value="Add Friend">
    </table>
  </form>

    <!-- <p><label for="username">Username:<input type="text" name="username" id="username"></label></p>
    <p><label for="first_name">First Name:<input type="text" name="first_name" id="first_name"></label></p>
    <p><label for="last_name">Last Name:<input type="text" name="last_name" id="last_name"></label></p>
    <p><label for="email">Email:<input type="text" name="email" id="email"></label></p>
    <p><label for="pw_hash">Password:<input type="password" name="pw_hash" id="pw_hash"></label></p>
    <input type="submit" value="Add Friend">
  </form> -->
</body>
</html>